trunk/appengine/static/jobfeed.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<element name="jobfeed">
			<attribute name="vocabulary">
				<data type="float" />
			</attribute>
			<zeroOrMore>
				<element name="organization">
					<element name="name">
						<text />
					</element>
					<element name="sites">
						<zeroOrMore>
							<element name="site">
								<element name="name">
									<text />
								</element>
								<element name="location">
									<element name="geo">
										<attribute name="lat">
											<data type="double" />
										</attribute>
										<attribute name="lon">
											<data type="double" />
										</attribute>
									</element>
									<element name="address">
										<text />
									</element>
								</element>
								<element name="departments">
									<zeroOrMore>
										<element name="department">
											<element name="name">
												<text />
											</element>
											<element name="openings">
												<zeroOrMore>
													<element name="position">
														<attribute name="id">
															<data type="nonNegativeInteger" />
														</attribute>
														<attribute name="expires">
															<data type="date" />
														</attribute>
                                                        <optional>
                                                            <attribute name="contract">
                                                                <data type="boolean" />
                                                            </attribute>
                                                        </optional>
														<interleave>
															<element name="title">
																<text />
															</element>
															<optional>
																<element name="subject_matter">
																	<zeroOrMore>
																		<element name="keyword">
																			<text />
																		</element>
																	</zeroOrMore>
																</element>
															</optional>
															<element name="qualifications">
																<optional>
																	<element name="education">
																		<zeroOrMore>
																			<element name="degree">
																				<attribute name="level" />
																				<attribute name="area" />
																				<optional>
																					<attribute name="or_related">
																						<data type="boolean" />
																					</attribute>
																				</optional>
																			</element>
																		</zeroOrMore>
																		<optional>
																			<zeroOrMore>
																				<element name="certification">
																					<attribute name="type" />
																				</element>
																			</zeroOrMore>
																		</optional>
																	</element>
																</optional>
																<optional>
																	<element name="skills">
																		<interleave>
																			<optional>
																				<element name="required">
																					<ref name="skillset" />
																				</element>
																			</optional>
																			<optional>
																				<element name="preferred">
																					<ref name="skillset" />
																				</element>
																			</optional>
																		</interleave>
																	</element>
																</optional>
															</element>
														</interleave>
													</element>
												</zeroOrMore>
											</element>
										</element>
									</zeroOrMore>
								</element>
							</element>
						</zeroOrMore>
					</element>
				</element>
			</zeroOrMore>
		</element>
	</start>
	<define name="skillset">
        <zeroOrMore>
            <choice>
                <element name="activity">
                    <ref name="skillprops"/>
                </element>
                <element name="equip">
                    <ref name="skillprops"/>
                </element>
                <element name="api">
                    <ref name="skillprops"/>
                </element>
                <element name="app">
                    <ref name="skillprops"/>
                </element>
                <element name="lang">
                    <ref name="skillprops"/>
                </element>
            </choice>
        </zeroOrMore>
	</define>
    <define name="skillprops">
        <attribute name="name" />
        <optional>
            <attribute name="years">
                <data type="float" />
            </attribute>
        </optional>
    </define>
</grammar>